// 组件 Box Model 设置
$element-box-model: (
        margin-x:(
                zero:0,
                sm:get-lib-value($lib-spacing, layout, 2),
                md:get-lib-value($lib-spacing, layout, 3),
                lg:get-lib-value($lib-spacing, layout, 4)
        ),
        margin-y:(
                zero:0,
                sm:get-lib-value($lib-spacing, layout, 1),
                md:get-lib-value($lib-spacing, layout, 2),
                lg:get-lib-value($lib-spacing, layout, 3)
        ),
        padding-x:(
                zero: 0,
                sm:get-lib-value($lib-spacing, spacing, 4),
                md:get-lib-value($lib-spacing, spacing, 8),
                lg:get-lib-value($lib-spacing, spacing, 16)
        ),
        padding-y:(
                zero:0,
                sm:get-lib-value($lib-spacing, spacing, 2),
                md:get-lib-value($lib-spacing, spacing, 4),
                lg:get-lib-value($lib-spacing, spacing, 8)
        ),
        border-width:(
                zero:0,
                sm:$base-border-width,
                md:$base-border-width,
                lg:$base-border-width,
                focus:0
        ),
        border-radius:(
                zero: 0,
                sm :get-lib-value($lib-spacing, spacing, 2),
                md :get-lib-value($lib-spacing, spacing, 4),
                lg :get-lib-value($lib-spacing, spacing, 8),
                pill :$base-size-space * 100,
                round :50%
        )
);
