// 计算字体大小
@function calc-font-size($step) {
  @if $step == 1 {
    @return $base-font-size;
  } @else {
    @return calc-font-size($step - 1) + (floor(($step - 2) / 4) + 1) * 2 / 16; // Yn = Yn-1 + {INT[(n-2)/4] + 1} * 2
  }
}

// 计算行高大小
@function calc-line-height($step) {
  @if $step == 1 {
    @return $base-line-height;
  } @else {
    @return calc-line-height($step - 1) + (floor(($step - 2) / 4) + 1) * 2 / 16; // Yn = Yn-1 + {INT[(n-2)/4] + 1} * 2
  }
}

// 生成字体大小库并进行取值
$lib-font-size: ();

@for $i from 1 through 24 {
  $lib-font-size: append($lib-font-size, calc-font-size($i));
}

@function get-font-size-value($step) {
  @return nth($lib-font-size, $step);
}

// 生成行高库并进行取值
$lib-line-height: ();
@for $i from 1 through 24 {
  $lib-line-height: append($lib-line-height, calc-line-height($i));
}

@function get-line-height-value($step) {
  @return nth($lib-line-height, $step);
}

// 库[文本属性]
$lib-text-property: (
  // 字体家族
  font-family:(
    sans-serif: $font-family-sans-serif,
    monospace: $font-family-monospace
  ),
  // 字体大小
  font-size: (
    1: get-font-size-value(1),
    2: get-font-size-value(2),
    3: get-font-size-value(3),
    4: get-font-size-value(4),
    5: get-font-size-value(5),
    6: get-font-size-value(6),
    7: get-font-size-value(7),
    8: get-font-size-value(8),
    9: get-font-size-value(9),
    10: get-font-size-value(10),
    11: get-font-size-value(11),
    12: get-font-size-value(12),
    13: get-font-size-value(13),
    14: get-font-size-value(14),
    15: get-font-size-value(15),
    16: get-font-size-value(16),
    17: get-font-size-value(17),
  ),
  // 字体粗细
  font-weight:(
    lighter: lighter,
    light: $base-font-weight * .75,
    regular: $base-font-weight * 1,
    bold: $base-font-weight * 1.5,
    bolder: bolder
  ),
  // 字符间距
  letter-spacing:(
    sm: $base-letter-spacing-rem * -4,
    md: $base-letter-spacing-rem * 0,
    lg: $base-letter-spacing-rem * 1,
    xl: $base-letter-spacing-rem * 2
  ),
  // 行高
  line-height:(
    1: get-line-height-value(1),
    2: get-line-height-value(2),
    3: get-line-height-value(3),
    4: get-line-height-value(4),
    5: get-line-height-value(5),
    6: get-line-height-value(6),
    7: get-line-height-value(7),
    8: get-line-height-value(8),
    9: get-line-height-value(9),
    10: get-line-height-value(10),
    11: get-line-height-value(11),
    12: get-line-height-value(12),
    13: get-line-height-value(13),
    14: get-line-height-value(14),
    15: get-line-height-value(15),
    16: get-line-height-value(16),
    17: get-line-height-value(17),
    18: get-line-height-value(18),
    19: get-line-height-value(19),
    20: get-line-height-value(20),
  )
) !default;

// 库[文本样式]
$lib-text-style: (
  font-family:(
    sans-serif: $font-family-sans-serif,
    monospace: $font-family-monospace,
    null:null
  ),
  font-size:(
    display-01 :get-lib-value($lib-text-property, font-size, 12),
    display-02 :get-lib-value($lib-text-property, font-size, 12),
    display-03 :get-lib-value($lib-text-property, font-size, 17),
    display-04 :get-lib-value($lib-text-property, font-size, 17),
    heading-01 :get-lib-value($lib-text-property, font-size, 3),
    heading-02 :get-lib-value($lib-text-property, font-size, 4),
    heading-03 :get-lib-value($lib-text-property, font-size, 5),
    heading-04 :get-lib-value($lib-text-property, font-size, 6),
    heading-05 :get-lib-value($lib-text-property, font-size, 7),
    heading-06 :get-lib-value($lib-text-property, font-size, 8),
    body-text-sm :get-lib-value($lib-text-property, font-size, 2),
    body-text-md :get-lib-value($lib-text-property, font-size, 3),
    body-text-lg :get-lib-value($lib-text-property, font-size, 4)
  ),
  font-weight:(
    display-01 :get-lib-value($lib-text-property, font-weight, light),
    display-02 :get-lib-value($lib-text-property, font-weight, bold),
    display-03 :get-lib-value($lib-text-property, font-weight, light),
    display-04 :get-lib-value($lib-text-property, font-weight, bold),
    heading-01 :get-lib-value($lib-text-property, font-weight, bold),
    heading-02 :get-lib-value($lib-text-property, font-weight, bold),
    heading-03 :get-lib-value($lib-text-property, font-weight, regular),
    heading-04 :get-lib-value($lib-text-property, font-weight, regular),
    heading-05 :get-lib-value($lib-text-property, font-weight, regular),
    heading-06 :get-lib-value($lib-text-property, font-weight, light),
    heading-07 :get-lib-value($lib-text-property, font-weight, light),
    body-text-light :get-lib-value($lib-text-property, font-weight, light),
    body-text-regular :get-lib-value($lib-text-property, font-weight, regular),
    body-text-bold :get-lib-value($lib-text-property, font-weight, bold)
  ),
  letter-spacing:(
    display-01 :get-lib-value($lib-text-property, letter-spacing, md),
    display-02 :get-lib-value($lib-text-property, letter-spacing, md),
    display-03 :get-lib-value($lib-text-property, letter-spacing, sm),
    display-04 :get-lib-value($lib-text-property, letter-spacing, sm),
    heading-01 :get-lib-value($lib-text-property, letter-spacing, lg),
    heading-02 :get-lib-value($lib-text-property, letter-spacing, md),
    heading-03 :get-lib-value($lib-text-property, letter-spacing, md),
    heading-04 :get-lib-value($lib-text-property, letter-spacing, md),
    heading-05 :get-lib-value($lib-text-property, letter-spacing, md),
    heading-06 :get-lib-value($lib-text-property, letter-spacing, md),
    heading-07 :get-lib-value($lib-text-property, letter-spacing, md),
    body-text-sm :get-lib-value($lib-text-property, letter-spacing, md),
    body-text-md :get-lib-value($lib-text-property, letter-spacing, lg),
    body-text-lg :get-lib-value($lib-text-property, letter-spacing, xl)
  ),
  line-height:(
    display-01 :get-lib-value($lib-text-property, line-height, 13),
    display-02 :get-lib-value($lib-text-property, line-height, 13),
    display-03 :get-lib-value($lib-text-property, line-height, 18),
    display-04 :get-lib-value($lib-text-property, line-height, 18),
    heading-01 :get-lib-value($lib-text-property, line-height, 3),
    heading-02 :get-lib-value($lib-text-property, line-height, 4),
    heading-03 :get-lib-value($lib-text-property, line-height, 5),
    heading-04 :get-lib-value($lib-text-property, line-height, 7),
    heading-05 :get-lib-value($lib-text-property, line-height, 8),
    heading-06 :get-lib-value($lib-text-property, line-height, 10),
    heading-07 :get-lib-value($lib-text-property, line-height, 12),
    body-text-xs :get-lib-value($lib-text-property, line-height, 3),
    body-text-sm :get-lib-value($lib-text-property, line-height, 4),
    body-text-md :get-lib-value($lib-text-property, line-height, 5),
    body-text-lg :get-lib-value($lib-text-property, line-height, 6),
    body-text-xl :get-lib-value($lib-text-property, line-height, 7)
  ),
  text-decoration:(
    link:none,
    link-hover:none,
    none:none
  )
) !default;
