# Jekyll
/_site/
/.jekyll-cache/
/site/.jekyll-cache/
.jekyll-metadata

# Sass
.sass-cache/

# Webstorm
/.idea/

# OS or Editor folders
._*
.cache
.DS_Store
.project
.settings
.sublime-project
.sublime-workspace
Thumbs.db

# Folders to ignore
/node_modules/
