# Jekyll
/_site/
/.jekyll-cache/
/site/.jekyll-cache/
.jekyll-metadata

# Sass
/_scss/.sass-cache/

# MacOS
.DS_Store

# Windows
Thumbs.db

# OS or Editor folders
._*
.cache
.project
.settings

# Webstorm
/.idea/

# Sublime
.sublime-project
.sublime-workspace

# Folders to ignore
/node_modules/
