---
project: null
group: homepage

user-role: guest

unique-name: home
title: 主页

permalink: /
layout: base

enable-multi-language: false
enable-notification: false
enable-user-menu: false
toc: false
---

<div class="container-fluid">
  <div class="row pt-16 pb-8">
    <div class="col-2">
      <h2>系统设计规范</h2>
    </div>
    <div class="col-4">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">RCD Design</h1>
      <p class="body-short-01 mb-8">适用于所有 RobotCareData 开发项目的界面样式</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/RCD-Design">进入</a></p>
    </div>
  </div>
  <div class="row pt-8 pb-8 border-top">
    <div class="col-2">
      <h2>门户网站</h2>
    </div>
    <div class="col-3">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Upcera</h1>
      <p class="body-short-01 mb-8">公司主站点</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Upcera">进入</a></p>
    </div>
    <div class="col-3">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Care</h1>
      <p class="body-short-01 mb-8">消费者主站点</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Care">进入</a></p>
    </div>
    <div class="col-3">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Milling Center</h1>
      <p class="body-short-01 mb-8">加工中心主站点</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Milling-Center">进入</a></p>
    </div>
  </div>
  <div class="row pt-8 pb-8 border-top">
    <div class="col-2">
      <h2>订单系统</h2>
    </div>
    <div class="col">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Codentech</h1>
      <p class="body-short-01 mb-8">主要服务于义齿加工厂和加工中心用户，提供代工管理和数据备份功能</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Codentech">进入</a></p>
    </div>
    <div class="col">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Upcare</h1>
      <p class="body-short-01 mb-8">主要服务于诊所和义齿加工厂，提供<strong>爱齐</strong>产品的订单管理和防伪查询</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Upcare">进入</a></p>
    </div>
    <div class="col">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Aligner</h1>
      <p class="body-short-01 mb-8">主要服务于诊所和义齿加工厂，提供<strong>隐形矫治</strong>产品的订单管理</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Aligner">进入</a></p>
    </div>
    <div class="col">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Veneer</h1>
      <p class="body-short-01 mb-8">主要服务于诊所和义齿加工厂，提供<strong>贴面</strong>产品的订单管理</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Veneer">进入</a></p>
    </div>
    <div class="col">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">3D Print Platform</h1>
      <p class="body-short-01 mb-8">武汉大学合作项目</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Remote">进入</a></p>
    </div>
  </div>
  <div class="row pt-8 pb-8 border-top">
    <div class="col-2">
      <h2>防伪查询</h2>
    </div>
    <div class="col-4">
      {% include icons/placeholder.svg width="64" height="64" class="bd-placeholder-img border-radius-round mb-8" text="Image cap" %}
      <h1 class="mb-8">Certification</h1>
      <p class="body-short-01 mb-8">主要服务于义齿加工厂和消费者进行产品防伪查询</p>
      <p><a class="btn btn-secondary" role="button" href="{{ site.baseurl }}/Certification">进入</a></p>
    </div>
  </div>
</div>
