@charset "utf-8";
// Parameters
//// 大小类
$padding-x-badge: get-lib-value($element-box-model, padding-x, $size-element-current) !default;
$padding-y-badge: get-lib-value($element-box-model, padding-y, $size-element-current) !default;
$padding-x-badge-pill: $padding-x-badge * 1.5 !default;
//// 字体类
$font-size-badge: $font-size-small !default;
$font-weight-badge: get-lib-value($lib-text-style, font-weight, body-text-bold) !default;
//// 圆角
$border-width-badge-focus: get-lib-value($element-box-model, border-width, focus) !default;
$border-radius-badge: get-lib-value($element-box-model, border-radius, $size-element-current) !default;
$border-radius-badge-pill: get-lib-value($element-box-model, border-radius, pill) !default;
//// 过渡
$badge-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default; // btn-transition

// 基本样式
.badge {
  display: inline-block;
  padding: $padding-y-badge $padding-x-badge;
  @include font-size($font-size-badge);
  font-weight: $font-weight-badge;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($border-radius-badge);
  @include transition($badge-transition);

  @at-root a#{&} {
    @include hover-focus {
      text-decoration: none;
    }
  }

  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
.badge-pill {
  padding-right: $padding-x-badge-pill;
  padding-left: $padding-x-badge-pill;
  @include border-radius($border-radius-badge-pill);
}

// Colors Variations
@mixin badge-variant($bg) {
  color: get-color-yiq($bg);
  background-color: $bg;

  @at-root a#{&} {
    @include hover-focus {
      color: get-color-yiq($bg);
      background-color: darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $border-width-badge-focus rgba($bg, .5);
    }
  }
}

@each $color, $value in $lib-color-interactive {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

@each $size in $lib-size-element {
  .badge-#{$size} {
    padding: get-lib-value($element-box-model, padding-y, $size) get-lib-value($element-box-model, padding-x, $size);
  }
}