@each $color, $value in $lib-color-interactive {
  .swatch-#{$color} {
    font-size: .75rem;
    color: get-color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in $lib-color-base {
  .swatch-#{$color} {
    font-size: .75rem;
    color: get-color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in $lib-color-base {
  @for $i from 1 to $color-palette-span {
    .swatch-#{$color}-#{$i * 10 } {
      font-size: .75rem;
      color: get-color-yiq(calc-color-palette($value, $i));
      background-color: calc-color-palette($value, $i);
    }
  }
}
