<h2>User Information</h2>
<div class="card mb-16">
  <div class="card-body">
    <div class="form-group row">
      <label class="col">User Name</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="First, Last">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Phone</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="+0086 138 1234 1234">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Email</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="first.last@demo.dev">
      </div>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-primary mr-8">Edit</button>
    </div>
  </div>
</div>
<h2>Organization Information</h2>
<div class="card mb-16">
  <div class="card-body">
    <div class="form-group row">
      <label class="col">Organization Name</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="First, Last">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Telephone</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="+0086 138 1234 1234">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Email</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="first.last@demo.dev">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Address</label>
      <div class="col-12">
        <input class="form-control-plaintext" value="the address">
      </div>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-primary mr-8">Edit</button>
    </div>
  </div>
</div>
<h2>Security</h2>
<div class="card">
  <div class="card-body">
    <div class="form-group row">
      <label class="col">Current Password</label>
      <div class="col-12">
        <input type="password" class="form-control" value="First, Last">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">New Password</label>
      <div class="col-12">
        <input type="password" class="form-control" value="+0086 138 1234 1234">
      </div>
    </div>
    <div class="form-group row">
      <label class="col">Confirm Password</label>
      <div class="col-12">
        <input type="password" class="form-control" value="first.last@demo.dev">
      </div>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-primary mr-8">Confirm</button>
    </div>
  </div>
</div>
