<div class="card w-50 m-auto box-shadow-md px-16 py-32" id="form-login" name="form-login">
  <h4 class="mb-32">ai.smart Aligner</h4>
  <div class="input-group mb-16">
    <div class="input-group-prepend">
      <label class="input-group-text" for="InputLoginUsername"><i class="icon-user"></i></label>
    </div>
    <input type="text" class="form-control" id="InputLoginUsername" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required
           autofocus>
  </div>

  <div class="input-group mb-16">
    <div class="input-group-prepend">
      <label class="input-group-text" for="InputLoginPassword"><i class="icon-lock"></i></label>
    </div>
    <input type="password" class="form-control" id="InputLoginPassword" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" required>
  </div>
  <div class="checkbox mb-16">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-md btn-primary btn-block" type="button" name="ButtonLogin" onclick="LoginRedirect()">Login</button>
  <p class="mt-8 mb-16 text-muted">&copy; 2017-{{ site.time | date: "%Y" }}</p>
</div>

<script type="text/javascript">
  function LoginRedirect() {
    var username = document.getElementById('InputLoginUsername').value;
    window.location.href = "{{ site.baseurl }}/{{ page.project }}/" + username;
  }
</script>
