//
// Breadcrumb
//

// Parameters
//// Margin & Padding
$breadcrumb-margin-bottom: get-lib-value($element-box-model, margin-y, $size-element-current) !default;
$breadcrumb-padding-y: get-lib-value($element-box-model, padding-y, $size-element-current) !default;
$breadcrumb-padding-x: get-lib-value($element-box-model, padding-x, $size-element-current) !default;
$padding-x-breadcrumb-item: $breadcrumb-padding-x !default;
//// Border
$breadcrumb-border-radius: get-lib-value($element-box-model, border-radius, $size-element-current) !default;
//// Background
$breadcrumb-bg: get-lib-value($lib-theme-palette, $theme-current, ui-background) !default;
//// Text
$breadcrumb-font-size: get-lib-value($lib-text-style, font-size, body-text-sm) !default;
$breadcrumb-divider: quote("/") !default;
$breadcrumb-divider-color: get-lib-value($lib-theme-palette, $theme-current, ui-03) !default;
$breadcrumb-active-color: get-lib-value($lib-theme-palette, $theme-current, text-01) !default;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: $padding-x-breadcrumb-item;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $padding-x-breadcrumb-item;
      color: $breadcrumb-divider-color;
      content: escape-svg($breadcrumb-divider);
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}
