// Popovers

$popover-font-size:                 get-lib-value($lib-text-style, font-size, body-text-#{$size-element-current}) !default;
$popover-bg:                        get-lib-value($lib-theme-palette, $theme-current, ui-background) !default;
$popover-max-width:                 276px !default;
$popover-border-width:              get-lib-value($element-box-model, border-width, $size-element-current) !default;
$popover-border-color:              rgba($color-absolute-black, .2) !default;
$popover-border-radius:             get-lib-value($element-box-model, border-radius, $size-element-current) !default;
$popover-inner-border-radius:       subtract($popover-border-radius, $popover-border-width) !default;
$popover-box-shadow:                0 .25rem .5rem rgba($color-absolute-black, .2) !default;

$popover-header-bg:                 darken($popover-bg, 3%) !default;
$popover-header-color:              get-lib-value($lib-theme-palette, $theme-current, text-01) !default;
$popover-header-padding-y:          .5rem !default;
$popover-header-padding-x:          .75rem !default;

$popover-body-color:                get-lib-value($lib-theme-palette, $theme-current, ui-background) !default;
$popover-body-padding-y:            $popover-header-padding-y !default;
$popover-body-padding-x:            $popover-header-padding-x !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;

.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
}

.page-link {
  position: relative;
  display: block;
  padding: get-lib-value($element-box-model, padding-y, $size-element-current) get-lib-value($element-box-model, padding-x, $size-element-current);
  margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 3;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-left-radius(get-lib-value($element-box-model, border-radius, $size-element-current));
    }
  }
  &:last-child {
    .page-link {
      @include border-right-radius(get-lib-value($element-box-model, border-radius, $size-element-current));
    }
  }

  &.active .page-link {
    z-index: 3;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//
