<!doctype html>
<html lang="en">
<head>
    {% include layouts/head.html %}
</head>
<body>
{% include layouts/masthead.html %}
<main id="content" role="main" class="mastbody">
    <section class="page-header">
        <div>
            <h6>{{ page.title }}</h6>
            <nav class="nav">
                {% for page-nav-links in site.data.nav.pagenav[page.project][page.role][page.title] %}
                <a class="nav-link" href="{{ site.url_root }}/{{ page.project | replace: " ", "-" }}/{{ page.role }}/{{ page.title }}/{{ page-nav-links.url | replace: " ", "-" }}">
                {{ page-nav-links.name }}
                </a>
                {% endfor %}
            </nav>
        </div>
    </section>
    <section class="page-body">
        <div class="row">
            <div class="col-3 col-lg-2">
                {{ content | toc_only }}
            </div>
            <div class="col-13 col-lg-14">
                {{ content }}
            </div>
        </div>
    </section>
</main>
{% include layouts/mastfoot.html %}
</body>
</html>
