<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100 {%- if page.html_class %} {{ page.html_class }}{% endif %}">

{% include layouts/head.html %}

<body class="d-flex flex-column h-100 {%- if page.body_class %} {{ page.body_class }}{% endif %}">

{% include layouts/header.html %}

<main role="main" class="flex-shrink-0">
    {{ content }}
</main>

{% include layouts/footer.html %}

{%- if page.include_js != false -%}
    {% include layouts/script.html %}
{%- endif -%}

</body>
</html>
