<!DOCTYPE html>
<html lang="en">
<head>
  {% include layouts/head.html %}
</head>
<body>
{% include layouts/masthead.html %}
<main role="main" class="mastbody" id="content">
  <section class="page-header">
    <div>
      <h6>{{ page.title }}</h6>
      <nav class="nav">
        {% for link in site.data.navs.page[page.project][page.user-role][page.unique-name] %}
        <a class="nav-link" href="{{ site.baseurl }}/{{ link.url }}"><i class="icon-{{ link.icon }}"></i>{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </section>
  <section class="page-body">
    {{ content }}
  </section>
</main>
{% include layouts/mastfoot.html %}
</body>
</html>
