<!DOCTYPE html>
<html lang="en">
<head>
  {% include layouts/head.html %}
</head>
<body>
{% include layouts/masthead.html %}
<main class="mastbody">
  <section class="page-header">
    <div>
      <h6>{{ page.title }}</h6>
      <nav class="nav">
        {% for link in site.data.navs.page[page.project][page.user-role][page.unique-name] %}
        <a class="nav-link" href="{{ site.baseurl }}/{{ link.url }}"><i class="icon-{{ link.icon }}"></i>{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </section>
  <section class="page-body">
    <div class="row">
      <div class="col-13">
        {{ content }}
      </div>
      <div class="col-3">
        {{ content | toc_only }}
      </div>
    </div>
  </section>
</main>
{% include layouts/mastfoot.html %}
</body>
</html>
