<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100 {%- if page.html_class %} {{ page.html_class }}{% endif %}">

{% include layouts/head.html %}

<body class="d-flex flex-column h-100 {%- if page.body_class %} {{ page.body_class }}{% endif %}">

{% include layouts/header.html %}

<main role="main" class="flex-shrink-0">
    <div class="container py-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">主页</a></li>
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/news">新闻资讯</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>

        <h2 class="text-center">{{ page.title }}</h2>
        <p class="text-center">
            <span class="me-2">发布日期：{{ page.date | date: "%Y-%m-%d" }}</span>
            <span>作者：<a class="text-decoration-none" href="#">WHUSS</a></span>
        </p>

        {{ content }}

    </div>
</main>

{% include layouts/footer.html %}

{%- if page.include_js != false -%}
{% include layouts/script.html %}
{%- endif -%}

</body>
</html>
