@charset "utf-8";
//
// Layer
//
@import '../core/config';
@import '../core/function';
@import 'color';

// Layer                 ||  Elevation
// ===================================
// 0 - Base              ||  0
// 1 - Flat              ||  1
// 2 - Raised            ||  2
// 3 - Overlay           ||  8
// 4 - Pop-out           ||  24
// ===================================
// Custom: Left Nav      ||  16
// Custom: Global Header ||  12

// 常用阴影样式
$box-shadow-form-element: inset 0 1px 1px rgba($color-absolute-black, .075) !default;
$box-shadow-form-element-button: inset 0 1px 0 rgba($color-absolute-white, .15), 0 1px 1px rgba($color-absolute-black, .075) !default;
$box-shadow-form-element-button-active: inset 0 3px 5px rgba($color-absolute-black, .125) !default;

// 库[变量]
$lib-layer: (
  // 层堆叠顺序
        z-index :(
                dropdown :1000,
                sticky :1020,
                fixed :1030,
                modal-backdrop :1040,
                modal :1050,
                popover :1060,
                tooltip :1070
        ),
  // 阴影
        box-shadow-layer :(
                base :none,
                flat :none,
                raised :0 1px 2px 0 rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .1),
                overlay :0 4px 8px 0 rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .1),
                sticky-nav :0 6px 12px 0 rgba($color-absolute-black, .1),
                temporary-nav :0 8px 16px 0 rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .1),
                pop-out :0 12px 24px 0 rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .1)
        ),
  // 组件阴影
        box-shadow-component:(
                sm: 0 .125rem .25rem rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .075),
                md: 0 .5rem 1rem rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .15),
                lg: 0 1rem 3rem rgba(get-lib-value($lib-theme-palette, $theme-current, text-01), .175),
                form-element :$box-shadow-form-element,
                button :$box-shadow-form-element-button,
                button-active :$box-shadow-form-element-button-active
        )
) !default;

// Mixins
@mixin box-shadow($shadow...) {
  @if variable-exists('enable-shadows') == false or $enable-shadows == true {
    $result: ();
    @if (length($shadow) == 1) {
      $result: $shadow;
    } @else {
      @for $i from 1 through length($shadow) {
        @if nth($shadow, $i) != 'none' {
          $result: append($result, nth($shadow, $i), 'comma');
        }
      }
    }
    @if (length($result) > 0) {
      box-shadow: $result;
    }
  }
}
