<footer class="mastfoot mt-auto">
    <div class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ site.assets.images }}logo-footer.png">
                        </div>
                        <div class="col-9">
                            <h4>About Us</h4>
                            <p>Regular dental checkups help in detection of early warning signs of certain health related issues. Visit your dentists regularly and stay healthy.</p>
                            <ul>
                                <li>sdsd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4>Userlinks</h4>
                    <ul>
                        <li>sdsd</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4>Contact Address</h4>
                    <p>64C East Crest, Melane Plaza,<br>DanyBoyle, TT 33546 </p>
                    <h4>Call us</h4>
                    <p>(123) 456-7890</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottombar py-3">
        <div class="container">
            <span class="text-muted">WHUSS</span>
        </div>
    </div>
</footer>

<div data-moto-back-to-top-button="" class="moto-back-to-top-button animated moto-back-to-top-button_visible">
    <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
        <span class="moto-back-to-top-button-icon fa"></span>
    </a>
</div>
