<header class="navbar navbar-expand-md navbar-light bg-white fixed-top shadow-sm">
    <nav class="container" >
        <a class="navbar-brand" href="#">
            <img src="{{ site.assets.images }}logo.png" height="40">
        </a>
        <ul class="navbar-nav mb-2 mb-md-0">
            {% for nav in site.data.site_nav %}
            <li class="nav-item  {% if nav.id == page.category %}active{% endif %}">
                <a class="nav-link" href="{{ nav.url }}" {% if nav.id == page.category %}aria-current="page"{% endif %}>{{ nav.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
