<header class="masthead">
  <nav class="navbar navbar-expand-sm">
  {% if page.project != null %}
    <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.project | replace: " ", "-" }}{% if page.user-role != guest %}/{{ page.user-role }}{% endif %}">{{ page.project | capitalize }}</a>
    {% else %}
    <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
    {% endif %}
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      {% for link in site.data.navs.navbar[page.project][page.user-role] %}
        {% if link.sub-nav != null %}
        <li class="nav-item dropdown {% if page.group == link.name %}active{% endif %}">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             id="{{ page.project }}-{{ page.group }}-{{ link.name }}" role="button">{{ link.title }}</a>
          <div aria-labelledby="{{ page.project }}-{{ page.group }}-{{ link.name }}" class="dropdown-menu dropdown-menu-left">
          {% for sub-link in link.sub-nav %}
            <a class="dropdown-item {% if page.unique-name == sub-link.name %}active{% endif %}" href="{{ site.baseurl }}/{{ sub-link.url }}">{{ sub-link.title }}</a>
          {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if page.group == link.name %}active{% endif %}" href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}{%- if page.group == link.name -%}<span
            class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>

      <ul class="navbar-nav">
        {% if page.enable-multi-language == true %}
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" id="LanguageIndicator" role="button">
            <i class="icon-globe"></i>
          </a>
          <div aria-labelledby="LanguageIndicator" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="">🇬🇧 English</a>
            <a class="dropdown-item" href="">🇨🇳 中文</a>
            <a class="dropdown-item" href="">🇫🇮 Suomen</a>
          </div>
        </li>
        {% endif %}
        {% if page.enable-notification == true %}
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon-bell"></i></a>
        </li>
        {% endif %}
        {% if page.enable-user-menu == true %}
        <li class="nav-item dropdown">
          {% for contact in site.data.demo.accounts[page.user-role] %}
            {% if contact != null %}
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             id="{{ page.project }}-{{ page.user-role }}" role="button">{{ contact.username }}</a>
          <div aria-labelledby="{{ page.project }}-{{ page.user-role }}" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{{ site.baseurl }}/{{ page.project }}/{{ page.user-role }}/account">Account</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/{{ page.project }}/{{ page.user-role }}/preferences">Preferences</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" onclick="UrlLogout()">Logout</a>
          </div>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<script type="text/javascript">
  function UrlLogout() {
    window.location.href = "{{ site.baseurl }}/{{ page.project }}";
  }
</script>
